.off-canvas
{
    z-index: 12;
}

body, .off-canvas-wrapper, .off-canvas-wrapper-inner
{
    height: 100%;
}

a
{
    outline: none;
}

.margin
{
    padding: 20px;
}

.thumbnail
{
    width: 260px;
    height: 220px;
}

a.button
{
    color: #fff !important;
}

.image
{
    display: block;
    margin: 20px;
    max-width: 100%;
}
