.login__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.login__container.origin .login__container-bg__video__container-video {
  position: fixed;
  right: 0;
  bottom: -100px;
  min-width: 100%;
  min-height: 120%;
  z-index: -3;
}
.login__container.origin .login__container-video__effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 141, 255, 0.8);
  z-index: -2;
}
.login__container.origin .login__container-content {
  width: 380px;
  margin: 100px auto 0 auto;
  padding: 40px 50px;
  border-radius: 40px;
  color: #232323;
  background-color: #fff;
  z-index: -1;
}
.login__container.origin .login__container-content-header {
  letter-spacing: 10px;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 50px;
}
.login__container.origin .login__container-content-header-title {
  text-transform: uppercase;
}
.login__container.origin .login__container-content-body-email__field {
  margin: 0 0 30px 0;
}
.login__container.origin .login__container-content-body-email__field-icon {
  position: relative;
  color: #ababb0;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.login__container.origin .login__container-content-body-email__field-input {
  color: #9b9b9b;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ababb0;
  outline: none;
}
.login__container.origin .login__container-content-body-email__field-input:focus {
  background-color: #ececec;
  border-bottom: 3px solid #249cff;
}
.login__container.origin .login__container-content-body-email__field-input::placeholder {
  color: transparent;
}
.login__container.origin .login__container-content-body-email__field-label {
  position: relative;
  color: #ababb0;
  top: -36px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.login__container.origin .login__container-content-body-email__field-input:focus ~ .login__container-content-body-email__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.login__container.origin .login__container-content-body-email__field-input:not(:placeholder-shown) ~ .login__container-content-body-email__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.login__container.origin .login__container-content-body-email__field-input:not(:placeholder-shown):not(:focus) ~ .login__container-content-body-email__field-label {
  color: #ababb0;
}
.login__container.origin .login__container-content-body-email__field-input:focus ~ .login__container.origin .login__container-content-body-email__field-icon {
  color: #249cff;
}
.login__container.origin .login__container-content-body-password__field {
  margin: 0 0 50px 0;
}
.login__container.origin .login__container-content-body-password__field-icon {
  position: relative;
  color: #ababb0;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.login__container.origin .login__container-content-body-password__field-input {
  color: #9b9b9b;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ababb0;
  outline: none;
}
.login__container.origin .login__container-content-body-password__field-input:focus {
  background-color: #ececec;
  border-bottom: 3px solid #249cff;
}
.login__container.origin .login__container-content-body-password__field-input::placeholder {
  color: transparent;
}
.login__container.origin .login__container-content-body-password__field-label {
  position: relative;
  color: #ababb0;
  top: -35px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.login__container.origin .login__container-content-body-password__field-input:focus ~ .login__container-content-body-password__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.login__container.origin .login__container-content-body-password__field-input:not(:placeholder-shown) ~ .login__container-content-body-password__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.login__container.origin .login__container-content-body-password__field-input:not(:placeholder-shown):not(:focus) ~ .login__container-content-body-password__field-label {
  color: #ababb0;
}
.login__container.origin .login__container-content-body-password__field-input:focus ~ .login__container.origin .login__container-content-body-password__field-icon {
  color: #249cff;
}
.login__container.origin .login__container-content-body-btn__field {
  width: 100%;
  margin: 0 0 20px 0;
}
.login__container.origin .login__container-content-body-btn__field-btn {
  color: #fff;
  letter-spacing: 5px;
  font-weight: bolder;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 0;
  background-color: #0077ff;
  border-radius: 20px;
  border: 1px solid #0077ff;
  cursor: pointer;
  transition: 0.2s;
}
.login__container.origin .login__container-content-body-btn__field-btn:hover {
  background-color: #005bc5;
  border: 1px solid #005bc5;
}
.login__container.origin .login__container-content-footer-row__1 {
  display: flex;
  width: 100%;
  margin: 0 0 40px 0;
}
.login__container.origin .login__container-content-footer-row__1-remember__field {
  display: flex;
  cursor: text;
  margin: 0 auto 0 0;
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__1 {
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__1-input {
  display: none;
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__1-input:checked + .login__container-content-footer-row__1-remember__field-label__1-slider {
  background-color: #44cc66;
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__1-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__1-slider-knob {
  position: absolute;
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__1-input:checked + .login__container-content-footer-row__1-remember__field-label__1-slider .login__container-content-footer-row__1-remember__field-label__1-slider-knob {
  left: calc(100% - 19px - 3px);
}
.login__container.origin .login__container-content-footer-row__1-remember__field-label__2 {
  color: #ababb0;
  margin: 0 0 0 5px;
  font-size: 15px;
}
.login__container.origin .login__container-content-footer-row__1-reset__password__field {
  margin: 0 0 0 auto;
}
.login__container.origin .login__container-content-footer-row__1-reset__password__field-link {
  color: #9a9a9a;
  text-decoration: none;
}
.login__container.origin .login__container-content-footer-row__1-reset__password__field-link:hover {
  color: #249cff;
}
.login__container.origin .login__container-content-footer-row__2 {
  margin-bottom: 20px;
  text-align: center;
}
.login__container.origin .login__container-content-footer-row__2-text {
  font-size: 18px;
  margin: 15px 0 15px 0;
}
.login__container.origin .login__container-content-footer-row__2-link {
  color: #9a9a9a;
  text-decoration: none;
  transition: 0.5s;
}
.login__container.origin .login__container-content-footer-row__2-link-icon {
  margin: 0 0 0 10px;
  transition: 0.5s;
}
.login__container.origin .login__container-content-footer-row__2-link:hover {
  color: #249cff;
}
.login__container.origin .login__container-content-footer-row__2-link:hover .login__container-content-footer-row__2-link-icon {
  color: #249cff;
  margin: 0 0 0 15px;
}
.login__container.dark .login__container-bg__video__container-video {
  position: fixed;
  right: 0;
  bottom: -100px;
  min-width: 100%;
  min-height: 120%;
  z-index: -3;
}
.login__container.dark .login__container-video__effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -2;
}
.login__container.dark .login__container-content {
  width: 380px;
  margin: 100px auto 0 auto;
  padding: 40px 50px;
  border-radius: 40px;
  color: #cccccc;
  background-color: #262626;
  z-index: -1;
}
.login__container.dark .login__container-content-header {
  letter-spacing: 10px;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 50px;
}
.login__container.dark .login__container-content-header-title {
  text-transform: uppercase;
}
.login__container.dark .login__container-content-body-email__field {
  margin: 0 0 30px 0;
}
.login__container.dark .login__container-content-body-email__field-icon {
  position: relative;
  color: #4b4b4b;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.login__container.dark .login__container-content-body-email__field-input {
  color: #e1e1e1;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #676767;
  border: none;
  border-bottom: 3px solid #4b4b4b;
  outline: none;
  transition: 0.3s;
}
.login__container.dark .login__container-content-body-email__field-input:focus {
  background-color: #a8a8a8;
  border-bottom: 3px solid #646464;
}
.login__container.dark .login__container-content-body-email__field-input::placeholder {
  color: transparent;
}
.login__container.dark .login__container-content-body-email__field-label {
  position: relative;
  color: #4b4b4b;
  top: -36px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.login__container.dark .login__container-content-body-email__field-input:focus ~ .login__container-content-body-email__field-label {
  color: #676767;
  top: -80px;
  left: -20px;
}
.login__container.dark .login__container-content-body-email__field-input:not(:placeholder-shown) ~ .login__container-content-body-email__field-label {
  color: #676767;
  top: -80px;
  left: -20px;
}
.login__container.dark .login__container-content-body-email__field-input:not(:placeholder-shown):not(:focus) ~ .login__container-content-body-email__field-label {
  color: #4b4b4b;
}
.login__container.dark .login__container-content-body-email__field-input:focus ~ .login__container.dark .login__container-content-body-email__field-icon {
  color: #676767;
}
.login__container.dark .login__container-content-body-password__field {
  margin: 0 0 50px 0;
}
.login__container.dark .login__container-content-body-password__field-icon {
  position: relative;
  color: #4b4b4b;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.login__container.dark .login__container-content-body-password__field-input {
  color: #e1e1e1;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #676767;
  border: none;
  border-bottom: 3px solid #4b4b4b;
  outline: none;
}
.login__container.dark .login__container-content-body-password__field-input:focus {
  background-color: #a8a8a8;
  border-bottom: 3px solid #646464;
}
.login__container.dark .login__container-content-body-password__field-input::placeholder {
  color: transparent;
}
.login__container.dark .login__container-content-body-password__field-label {
  position: relative;
  color: #4b4b4b;
  top: -35px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.login__container.dark .login__container-content-body-password__field-input:focus ~ .login__container-content-body-password__field-label {
  color: #676767;
  top: -80px;
  left: -20px;
}
.login__container.dark .login__container-content-body-password__field-input:not(:placeholder-shown) ~ .login__container-content-body-password__field-label {
  color: #676767;
  top: -80px;
  left: -20px;
}
.login__container.dark .login__container-content-body-password__field-input:not(:placeholder-shown):not(:focus) ~ .login__container-content-body-password__field-label {
  color: #4b4b4b;
}
.login__container.dark .login__container-content-body-password__field-input:focus ~ .login__container.dark .login__container-content-body-password__field-icon {
  color: #676767;
}
.login__container.dark .login__container-content-body-btn__field {
  width: 100%;
  margin: 0 0 20px 0;
}
.login__container.dark .login__container-content-body-btn__field-btn {
  color: #676767;
  letter-spacing: 5px;
  font-weight: bolder;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 0;
  background-color: #3a3a3a;
  border-radius: 20px;
  border: 1px solid #3a3a3a;
  cursor: pointer;
  transition: 0.2s;
}
.login__container.dark .login__container-content-body-btn__field-btn:hover {
  background-color: #212121;
  border: 1px solid #676767;
}
.login__container.dark .login__container-content-footer-row__1 {
  display: flex;
  width: 100%;
  margin: 0 0 40px 0;
}
.login__container.dark .login__container-content-footer-row__1-remember__field {
  display: flex;
  cursor: text;
  margin: 0 auto 0 0;
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__1 {
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__1-input {
  display: none;
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__1-input:checked + .login__container-content-footer-row__1-remember__field-label__1-slider {
  background-color: #44cc66;
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__1-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__1-slider-knob {
  position: absolute;
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__1-input:checked + .login__container-content-footer-row__1-remember__field-label__1-slider .login__container-content-footer-row__1-remember__field-label__1-slider-knob {
  left: calc(100% - 19px - 3px);
}
.login__container.dark .login__container-content-footer-row__1-remember__field-label__2 {
  color: #ababb0;
  margin: 0 0 0 5px;
  font-size: 15px;
}
.login__container.dark .login__container-content-footer-row__1-reset__password__field {
  margin: 0 0 0 auto;
}
.login__container.dark .login__container-content-footer-row__1-reset__password__field-link {
  color: #9a9a9a;
  text-decoration: none;
}
.login__container.dark .login__container-content-footer-row__1-reset__password__field-link:hover {
  color: #e0e0e0;
}
.login__container.dark .login__container-content-footer-row__2 {
  margin-bottom: 20px;
  text-align: center;
}
.login__container.dark .login__container-content-footer-row__2-text {
  font-size: 18px;
  margin: 15px 0 15px 0;
}
.login__container.dark .login__container-content-footer-row__2-link {
  color: #9a9a9a;
  text-decoration: none;
  transition: 0.5s;
}
.login__container.dark .login__container-content-footer-row__2-link-icon {
  margin: 0 0 0 10px;
  transition: 0.5s;
}
.login__container.dark .login__container-content-footer-row__2-link:hover {
  color: #e1e1e1;
}
.login__container.dark .login__container-content-footer-row__2-link:hover .login__container-content-footer-row__2-link-icon {
  color: #e1e1e1;
  margin: 0 0 0 15px;
}
/*# sourceMappingURL=login.css.map */