.register__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.register__container-bg__video__container-video {
  position: fixed;
  right: 0;
  bottom: -100px;
  min-width: 100%;
  min-height: 120%;
  z-index: -4;
}
.register__container-video__effect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 140, 255, 0.8);
  z-index: -3;
}
.register__container-content {
  width: 380px;
  margin: 40px auto 0 auto;
  padding: 40px 50px;
  border-radius: 40px;
  color: #232323;
  background-color: #fff;
  z-index: -2;
}
.register__container-content-header {
  letter-spacing: 10px;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 50px;
}
.register__container-content-header-title {
  text-transform: uppercase;
}
.register__container-content-body-username__field {
  margin: 0 0 30px 0;
}
.register__container-content-body-username__field-icon {
  position: relative;
  color: #ababb0;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.register__container-content-body-username__field-input {
  color: #9b9b9b;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ababb0;
  outline: none;
}
.register__container-content-body-username__field-input:focus {
  background-color: #ececec;
  border-bottom: 3px solid #249cff;
}
.register__container-content-body-username__field-input::placeholder {
  color: transparent;
}
.register__container-content-body-username__field-label {
  position: relative;
  color: #ababb0;
  top: -35px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.register__container-content-body-username__field-input:focus ~ .register__container-content-body-username__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-username__field-input:not(:placeholder-shown) ~ .register__container-content-body-username__field-label {
  color: #fff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-username__field-input:focus ~ .register__container-content-body-username__field-icon {
  color: #249cff;
}
.register__container-content-body-email__field {
  margin: 0 0 30px 0;
}
.register__container-content-body-email__field-icon {
  position: relative;
  color: #ababb0;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.register__container-content-body-email__field-input {
  color: #9b9b9b;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ababb0;
  outline: none;
}
.register__container-content-body-email__field-input:focus {
  background-color: #ececec;
  border-bottom: 3px solid #249cff;
}
.register__container-content-body-email__field-input::placeholder {
  color: transparent;
}
.register__container-content-body-email__field-label {
  position: relative;
  color: #ababb0;
  top: -35px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.register__container-content-body-email__field-input:focus ~ .register__container-content-body-email__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-email__field-input:not(:placeholder-shown) ~ .register__container-content-body-email__field-label {
  color: #fff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-email__field-input:focus ~ .register__container-content-body-email__field-icon {
  color: #249cff;
}
.register__container-content-body-password__field {
  margin: 0 0 30px 0;
}
.register__container-content-body-password__field-icon {
  position: relative;
  color: #ababb0;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.register__container-content-body-password__field-input {
  color: #9b9b9b;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ababb0;
  outline: none;
}
.register__container-content-body-password__field-input:focus {
  background-color: #ececec;
  border-bottom: 3px solid #249cff;
}
.register__container-content-body-password__field-input::placeholder {
  color: transparent;
}
.register__container-content-body-password__field-label {
  position: relative;
  color: #ababb0;
  top: -35px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.register__container-content-body-password__field-input:focus ~ .register__container-content-body-password__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-password__field-input:not(:placeholder-shown) ~ .register__container-content-body-password__field-label {
  color: #fff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-password__field-input:focus ~ .register__container-content-body-password__field-icon {
  color: #249cff;
}
.register__container-content-body-repassword__field {
  margin: 0 0 10px 0;
}
.register__container-content-body-repassword__field-icon {
  position: relative;
  color: #ababb0;
  font-size: 19px;
  top: -34px;
  left: 15px;
}
.register__container-content-body-repassword__field-input {
  color: #9b9b9b;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 10px 45px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ababb0;
  outline: none;
}
.register__container-content-body-repassword__field-input:focus {
  background-color: #ececec;
  border-bottom: 3px solid #249cff;
}
.register__container-content-body-repassword__field-input::placeholder {
  color: transparent;
}
.register__container-content-body-repassword__field-label {
  position: relative;
  color: #ababb0;
  top: -35px;
  left: 25px;
  cursor: text;
  transition: 0.5s;
}
.register__container-content-body-repassword__field-input:focus ~ .register__container-content-body-repassword__field-label {
  color: #249cff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-repassword__field-input:not(:placeholder-shown) ~ .register__container-content-body-repassword__field-label {
  color: #fff;
  top: -80px;
  left: -20px;
}
.register__container-content-body-repassword__field-input:focus ~ .register__container-content-body-repassword__field-icon {
  color: #249cff;
}
.register__container-content-footer {
  margin: 10px 0 0 0;
}
.register__container-content-footer-btn__container {
  margin: 40px 0 10px 0;
}
.register__container-content-footer-btn__container-btn {
  color: #fff;
  letter-spacing: 5px;
  font-weight: bolder;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 0;
  background-color: #0077ff;
  border-radius: 20px;
  border: 1px solid #0077ff;
  cursor: pointer;
  transition: 0.2s;
}
.register__container-content-footer-btn__container-btn:hover {
  background-color: #005bc5;
  border: 1px solid #005bc5;
}
.register__container-content-footer-login {
  text-align: center;
  margin: 40px 0 0 0;
}
.register__container-content-footer-login-text {
  font-size: 18px;
  margin: 15px 0 15px 0;
}
.register__container-content-footer-login-link {
  color: #9a9a9a;
  text-decoration: none;
  transition: 0.5s;
}
.register__container-content-footer-login-link-icon {
  margin: 0 0 0 10px;
  transition: 0.5s;
}
.register__container-content-footer-login-link:hover {
  color: #249cff;
}
.register__container-content-footer-login-link:hover .register__container-content-footer-login-link-icon {
  color: #249cff;
  margin: 0 0 0 15px;
}
/*# sourceMappingURL=register.css.map */