.footer__short
{
    position: absolute;
    display: flex;
    bottom: 10px;
    width: 100%;
    color: #adadad;
    &-text
    {
        margin: 0 auto;
        color: #bdbdbd;
        cursor: default;
        transition: color 0.5s;
        &:hover
        {
            color: #fff;
        }
    }
}
