@import url('https://fonts.googleapis.com/css?family=Poppins');

* { font-family: 'Poppins', 'sans-serif'; margin: 0; padding: 0; }

.header
{
    &-navigation
    {
        display: flex;
        margin: 20px 40px;
        &-item
        {
            display: flex;
            align-items: center;
            padding: 5px 5px;
            margin: 0 10px;
            font-size: 18px;
            color: #fff;
            border-radius: 20px;
            border: 2px solid transparent;
            text-decoration: none;
            transition: 0.5s;
            &-icon
            {
                margin: 0 10px 0 0;
            }
            &-text
            {
                margin: 0;
                opacity: 0;
                letter-spacing: -10px;
                padding: 0;
                transition: 0.5s;
            }
            &:hover
            {
                border: 2px solid #fff;
                padding: 5px 15px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            &:hover &-text
            {
                opacity: 1;
                letter-spacing: 0;
            }
            &#galleriesHeaderBtn, &#loginHeaderBtn, &#registerHeaderBtn, &#logoutHeaderBtn
            {
                top: 30px;
            }
            &#galleriesHeaderBtn{
                margin: 0 0 0 auto;
            }
            &#loginHeaderBtn, &#loginHeaderBtn
            {

            }
            &#registerHeaderBtn, &#logoutHeaderBtn
            {

            }
            &#loginHeaderBtn:hover, &#loginHeaderBtn:focus,
            &#registerHeaderBtn:hover, &#registerHeaderBtn:focus
            {
                color: #fff;
                background-color: #0077ff;
                border: 2px solid #0077ff;
            }
            &#logoutHeaderBtn:hover, &#logoutHeaderBtn:focus
            {
                color: #e30000;
                border: 2px solid #e30000;
            }
        }
        &-brand
        {
            position: absolute;
            display: flex;
            top: 30px;
            left: 30px;
            color: #fff;
            border: 3px solid #fff;
            text-decoration: none;
            padding: 10px;
            border-radius: 30px;
            transition: 0.5s;
            &-icon
            {
                font-size: 30px;
                transition: 0.5s;
            }
            &-text
            {
                font-size: 20px;
                opacity: 0;
                letter-spacing: -10px;
                margin: 0;
                transition: 0.5s;
            }
            &:hover
            {
                background-color: #fff;
                transition: 0.5s;
            }
            &:hover &-icon
            {
                color: #0077ff;
                transition: 0.5s;
            }
            &:hover &-text
            {
                margin: 0 0 0 5px;
                opacity: 1;
                letter-spacing: 0;
                color: #0077ff;
                transition: 0.5s;
            }
        }
    }
}
